*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background:#fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-weight:300;
  line-height: 1.2;
}

p {
  margin:10px 0;
}

img {
  width:400px;
  height:500px;
  object-fit: cover;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: orange;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  /* position:fixed; */
  top:0px;
  padding: 0 30px;
}

.navbar a {
  color:white;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar ul {
  display: flex;
}

.navbar a:hover{
  border-bottom: lightblue 2px solid;

}

.navbar .logo {
  font-weight: 400;
}

/* Header */
.hero {
  background: url('./Assets/imaMount\ Everest.JPG') no-repeat center/cover;
  height: 100vh;
  position: relative;
  color: #fff;  
}

.hero .content {
  display: flex;
  flex-direction:column;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
}

.hero .content p {
    font-size: 23px;
    margin: 20px 0 30px;
    text-align: center;
    justify-content: center;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.hero * {
  z-index: 10;
}

#about, 
#resume{
  display: flex;
  margin-bottom: 100px;
}

.about-heading,
.resume-heading {
  align-items: flex-end;
  text-align: start;
  font-size: 30px;
  letter-spacing: 2px;
  min-width:200px;
  max-width: 200px;
} 

.vl {
  align-items: stretch;
  border-right: 3px solid brown;
  margin-left: 50px;
  margin-right:50px;
}

#work {
  display: flex;
  width: 80%;
  margin-bottom:100px;
}

.work-heading {
  align-items: flex-end;
  text-align: start;
  font-size: 30px;
  letter-spacing: 2px;
  min-width:200px;
  max-width: 200px;
} 

.image__img{
  display: block;
  width: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  color: #ffffff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay > *{
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image {
  position: relative;
  width: 400px;
}

.image__title {
  font-size: 2em;
  font-weight: bold;
}

.image__description {
  font-size: 1.25em;
  margin-top: 0.25em;
}

#contact,
#Resume {
  display: flex;
  width: 80%;
  margin-bottom:100px;
}

.Riwa-Profile {
  flex: 0 1 100%;
  max-width: 100%;
  height:auto;
  border-radius: 20px;
}



.contact-heading,
.Resume-heading {
  align-items: flex-end;
  text-align: start;
  font-size: 30px;
  letter-spacing: 2px;
  min-width:200px;
  max-width: 200px;
} 

.flex-items {
  display:flex;
  text-align:center;
  justify-content: center;
  text-align: center;
  height: 100;
}

.work img:hover {
  opacity:0.7;
} 

.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

/* footer */
.footer {
  background-color: darkgray;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
}

.footer a {
  color:#fff;
}

.footer a:hover {
  color:lightblue;
}

.footer .social > * {
  margin-right: 30px;
}

/* Mobile */
/* @media(max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

.navbar a {
  padding: 10px 10px;
  margin: 0 3px;
}

.flex-columns .column {
  flex: 100%;
  max-width: 100%;
}

@media only screen and (max-width: 700px) {
  .image__overlay, .image__img {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .image__overlay, .image__img {
    width: 100%;
  }
}


} */
